<mat-list>
    <h2 mat-display-1 style="margin-left: 25%; padding-left: 15px; text-decoration: underline;">How many days of food?</h2>
    <mat-radio-group
    [(ngModel)]='day'>
    <mat-list-item *ngFor='let num of days' style="margin-left: 25%; margin-top: -1%;">
        <mat-radio-button [value]='num'>{{num}}</mat-radio-button>
      <mat-icon mat-list-icon></mat-icon>
    </mat-list-item> 
</mat-radio-group>
<mat-divider></mat-divider>
<h2 mat-display-1 style="margin-left: 25%; padding-left: 15px; text-decoration: underline;">How many meals a day?</h2>

        <mat-radio-group
        [(ngModel)]='meal'>
        <mat-list-item *ngFor='let num of meals' style="margin-left: 25%; margin-top: -1%;">
            <mat-radio-button [value]='num'>{{num}}</mat-radio-button>
        <mat-icon mat-list-icon></mat-icon>
        </mat-list-item> 
        </mat-radio-group>
<mat-divider></mat-divider>

    <h2 mat-display-1 style="margin-left: 25%; padding-left: 15px; text-decoration: underline;">Alcohol (Pick Up Only)</h2>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="alcohol" style="margin-left: 25%; margin-top: -1%; padding-left: 40px;"> Check for Alcohol </mat-checkbox>
        </mat-list-item> 
  </mat-list>
<br>

  <button mat-raised-button (click)="checkout('pickup')" [disabled]="pickupDisabled()" color="primary" style="margin-left: 25%;">Pick Up</button> 
  <button mat-raised-button (click)="checkout('delivery')" [disabled]="deliveryDisabled()" color="primary" style="margin-left: 20px;">Delivery</button> 
