@import '~@angular/material/theming';

@include mat-core();

$my-typography-font-family: unquote("Montserrat, sans-serif");
$my-theme-primary:mat-palette($mat-orange, 600);
$my-theme-secondary: mat-palette($mat-orange, A700);
$my-theme-warm: mat-palette($mat-orange, 400);

$custom-theme: mat-light-theme($my-theme-primary, $my-theme-secondary, $my-theme-warm);

@include angular-material-theme($custom-theme);

