


<mat-card-title style="margin-top: 3%; margin-left: 25%;">Thank You For Your Order!</mat-card-title>
<mat-card >
    <div id="recipe">
        
        <img src="https://assets-prd-weg.unataops.com/web/recipe_header/837139526d4b4bf3a69dd603a0d12155.jpg" width="300px" height="300px" style="margin-left: 20%;">
        <img src="https://assets-prd-weg.unataops.com/web/recipe_header/85a52b4e49a048ac92d15372e2765302.jpg" width="300px" height="300px" style="margin-left: 15%;">
    </div>
</mat-card>


<div *ngIf="type == 'pickup' && address" style="margin-left: 25%;">
    <h2 mat-display-1>Pickup at the store:</h2>
    <div body-1>
        {{this.address.street}}
        <br>
        {{this.address.city}}
        <br>  
        <div>{{this.address.country}} {{this.address.zip}} </div>
    </div>

</div>